body{
    background-color: rgb(42, 31, 6);
    font-family: monospace;
}

.pizarron{
    position: absolute;
    width: 97%;
    height: 92%;
    background: #052606;
    top: 4%;
    left: 1.5%;
}

.logo{
    position: relative;
    height: 48px;
    width: 31.085588455200195px;
    left: 7vmin;
    top: 5vmin;
    border-radius: 0px;
}

.image-horca{
    width: 25%;
   position: absolute;
   top: 25%;
   left: 15%;
}

footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    bottom: -10vmin;
    width: 100%;
    background-color: #031d3c;
    height: 10vmin;
    text-align: center;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    }
    
    
.social-media{
    margin: 0 3vmin ;
    width: 2vmax;
    }

.social-media-git{
    margin: 0 3vmin ;
    width: 2vmax;
    background-color: rgb(180, 216, 247);
    border-radius: 15px;
    }